<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-87996487-12"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-87996487-12');
	</script>

	<link href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="/styles.css" />

	<link rel="icon" type="image/png" href="/logo.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<% if (locals.title) { %>
		<title><%=locals.title%></title>
	<% } else {%>
		<title>Quizonality</title>
	<% } %>

	<% if (locals.quiz) { %>
		<% if (locals.quiz.url) { %> <meta property="og:url" content="<%=quiz.url%>" /> <% } %>
		<meta property="og:type" content="article" />
		<meta property="og:title" content="<%=quiz.title%>" />
		<meta property="og:description" content="<%=quiz.description%>" />
		<meta property="og:image" content="<%=quiz.image%>" />
		<meta property="description" content="<%=quiz.description%>" />
		<meta name="twitter:site" content="@quizonality" />
	<% } else { %>
		<meta property="description" content="What is your personality, and what can it tell you about your true self? At Quizonality, we help you learn more about yourself in a fun, interactive way!" />
	<% } %>

	<script data-ad-client="<%="ca-pub-"+locals.adsensePubId%>" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<script src="/lib/jquery.js"></script>
	<script src="/lib/fa.js" async></script>
</head>

<body>
	<!--header-->
	<div id="header">
		<div style="margin: 0 auto;width: 95vw">
			<ul style="display:flex;margin:0;padding:0;font-size:38px;">
				<a href="/" class="logo"><img src="/logo.png" style="height:45px;vertical-align:sub;margin-right:10px;"/>Quizonality</a>
				<% if (myuser && myuser.role === 'admin') { %>
					<a href="/dashboard">Dashboard</a>
				<% } %>
			</ul>
		</div>
	</div>

	<% if (locals.quiz) { %>
	<!-- the floating bar -->
	<div id="header-fixed" class="header-hidden">
		<div style="margin:0 auto;width:95vw;">
				<ul style="display:flex;margin:0;padding:0;font-size:38px;">
					<a href="/" class="logo">Quizonality</a>

					<% if (quiz.url) { %>
					<a href="https://www.facebook.com/sharer/sharer.php?u=<%= quiz.url %>" target="_blank" style="margin-left:auto;color:#4267b2;">
						<i style="height:100%;" class="fab fa-facebook-square"></i>
					</a>
					<a href="https://twitter.com/share?url=<%= quiz.url %>" target="_blank" style="margin-left:10px;color:#1DA1F2;">
						<i style="height:100%;" class="fab fa-twitter-square"></i>
					</a>
					<% } %>
				</ul>
		</div>
	</div>
	<% } %>