<%- include('../layouts/header') -%>

<div class="content-box visible-background">
	<!-- <%= user.username %> -->
	<form method="POST">
		<p>username: <input type="text" name="username" placeholder="username" value="<%=user.username%>"/></p>
		<p>password: <input type="text" name="password" placeholder="password" /></p>
		<p>role: <input type="text" name="role" placeholder="role" value="<%=user.role%>" /></p>
		<input type="submit"/>
	</form>
</div>

<%- include('../layouts/footer') -%>