<%- include('../layouts/header') -%>

<div id="content" style="width:85vw;margin:0 auto;">
	<h1><%= quiz.title %></h1>
	<%- quiz.article -%>

	<div id="quiz" style="margin: 50px 0">
		<% let questions = JSON.parse(quiz.questions); %>
		<% for (let i = 0; i < questions.length; i++) { %>
			<h3><%= questions[i].question %></h3>
			<ul class="answers">
				<% for (let j = 0; j < questions[i].answers.length; j++) { %>
					<li class="answer">
						<span class="far fa-circle"></span><span class="fa fa-check"></span>
						<div class="text"><%= questions[i].answers[j].answer %></div>
					</li>
				<% } %>
			</ul>
		<% } %>
	</div>

	<div style="text-align: center">
		<button onclick="finishQuiz()" class="finish-button disabled" disabled>Finish Quiz</button>
	</div>
</div>

<script>
	$(document).ready(() => {
		//clicking an answer
		$('.answers .answer').on('click', function(e) {
			//remove 'selected' from all other answers
			$(this).closest('.answers').children('.answer').removeClass('selected');

			//add 'selected' class
			$(this).addClass('selected');

			//see if every question has a selected answer
			let allSelected = true;
			$('.answers').each((index, val) => {
				if ($(val).children('.answer.selected').length === 0) {
					allSelected = false;
				}
			});
			//if every question has a selected answer, enable the finish button
			if (allSelected) {
				$('.finish-button').removeClass('disabled');
				$('.finish-button').removeAttr('disabled');
			}
		});
	});

	function finishQuiz() {
		//get answer indexes
		let answers = "";
		$('.answers').each((index, val) => {
			$(val).children(".answer").each((index, val) => {
				if ($(val).hasClass('selected')) {
					answers += index+" ";
				}
			});
		});
		answers = answers.slice(0, answers.length-1);//slice the trailing space off

		//send request
		let request = new XMLHttpRequest();
		request.onreadystatechange = function() {
			if (this.readyState === XMLHttpRequest.DONE) {
				// console.log(this.responseText);
				let result = JSON.parse(this.responseText);
				if (result.err) return console.log(result.err);

				//add results div to body
				$(document.body).append(`<div id="results-div"><h2>${result.name}</h2><p>${result.description}</p></div>`);
				//scroll us to it
				// document.body.scrollTop += document.getElementById('results-div').getBoundingClientRect().top - document.body.clientHeight*0.2;
				window.scrollBy({
					top: document.getElementById('results-div').getBoundingClientRect().top - document.body.clientHeight*0.2,
					behavior: 'smooth'
				})
			}
		}
		request.open("POST", "");
		request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		request.send(JSON.stringify({answers: answers}));

		//disable the finish button again
		$('.finish-button').addClass('disabled');
		$('.finish-button').attr('disabled', 'yes');
	}
</script>

<%- include('../layouts/footer') -%>